<!doctype html>

<html>
<head>
    <title>CSE170 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/retailer/home.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FoodAid</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/support">Support</a></li>
                <li><a href="/paymentinfo">Payment Information</a></li>
                <li><a href="/settings">Settings</a></li>
                <li role="separator" class="divider"></li>
                <button type="button" class="btn btn-danger navbar-btn" id="btn-logout">Logout</button>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <form class="form-register" role="form" action="/register" method="post">
        <h2>Registration Form</h2>
        <div class="form-group">
            <div class="well well-sm">
                <label class="control-label col-sm-3">Account Type<span class="required">*</span></label>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="radio-inline">
                                <input type="radio" id="customerRadio" value="Customer" name="radio">Customer
                            </label>
                        </div>
                        <div class="col-xs-6">
                            <label class="radio-inline">
                                <input type="radio" id="retailerRadio" value="Retailer" name="radio">Retailer
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="text" name="firstName" id="firstName" placeholder="Joe" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="text" name="lastName" id="lastName" placeholder="Doe" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="col-sm-3 control-label">Username<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="text" name="username" id="password" placeholder="example123" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="email" name="email" id="email" placeholder="example@provider.com" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="password" name="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Confirm Password<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="password" name="confirmPassword" id="password_confirm" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="location" class="col-sm-3 control-label">Location</label>
            <div class="col-sm-9">
                <input type="location" id="location" placeholder="9450 Gilmand Dr" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="checkbox"/>I accept <a href="#">terms</a><span class="required">*</span>
                    </label>
                </div>
            </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" id="btn-register" class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
    </form> <!-- /form -->
</div>
</body>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOGZRDsNoTs3Dv_UkoTTy26mzo2fvOGDQ"></script>
<script src="/js/register.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87196704-1', 'auto');
    ga('send', 'pageview');

</script>


</body>
</html>