<!doctype html>

<html>
<head>
	<title>CSE170 Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/retailer/home.css" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FoodAid</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/../support">Support</a></li>
                <li><a href="/../paymentinfo">Payment Information</a></li>
                <li><a href="/../settings">Settings</a></li>
                <li role="separator" class="divider"></li>
                <a href="/" class="btn btn-danger navbar-btn" id="btn-logout">Logout</a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <div class="form-style-10">
        <h1>Add a Deal to Food-Aid!<span>Fill out the information about your leftover food and start selling!</span></h1>
        <form class="form-submit-offer" method="post" name="submit-offer" action="retailer/home">
            <div class="section"><span>1</span>First Name &amp; Address</div>
            <div class="inner-wrap">
                <label>Your Full Name<span class="required">*</span><input id="person_name" type="text" name="owner" /></label>
                <label>Restaurant<span class="required">*</span><input id="restaurant" type="text" name="name" /></label>
            </div>

            <div class="section"><span>2</span>Food &amp; Deal</div>
            <div class="inner-wrap">
                <label>Your Food<span class="required">*</span><input id=food" type="text" name="offer" /></label>
                <label>Your Price in $<span class="required">*</span><input id="price" type="number" name="price" /></label>
                <label>Food Unit Metric<span class="required">*</span><input id="price-per-unit" name="measure" placeholder="lb, loaf, box, etc"type="text" name="measure" /></label>
                <label>Quantity of Food<span class="required">*</span><input id="quantity" type="number" name="quantity" /></label>
                <div class="btn btn-default image-preview-input">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span class="image-preview-input-title">Browse</span>
                    <input type="file" accept="image/png, image/jpeg, image/gif" name="localImg"/> <!-- rename it -->
                </div>
            </div>

            <div class="section"><span>3</span>Featured Deal</div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-6">
                        <label>
                            <input type="radio" id="customerRadio" value="YES" name="radio" style="margin-right: 5px">Yes
                        </label>
                    </div>
                    <div class="col-xs-6">
                        <label>
                            <input type="radio" id="retailerRadio" value="NO" name="radio" style="margin-right: 5px"/>No
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-info" id="submit-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/retailer/home.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87196704-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
