<!doctype html>

<html>
<head>
    <title>CSE170 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/retailer/info.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="navbar-brand btn-go-back">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/../support">Support</a></li>
                <li><a href="/../paymentinfo">Payment Information</a></li>
                <li><a href="/../settings">Settings</a></li>
                <li role="separator" class="divider"></li>
                <a href="/" class="btn btn-danger navbar-btn" id="btn-logout">Logout</a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">

    <div id="panel-row" class="row">
        <div class="panel panel-default">
            <div class="panel-heading title-box">Total Price</div>

            <table class="table">
                <tbody>
                <tr>
                    <td>Orders Purchased: </td>
                    <td id="quantity-box">2</td>
                </tr>
                <tr>
                    <td>Total Profit: </td>
                    <td id="price-box">$3743.00</td>
                </tr>
                <tr>
                    <td>Charity Meals: </td>
                    <td id="total-box">98</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2>Your profit:</h2>
    <canvas id="myChart" width="400" height="400"></canvas>
    <a href="home">
        <button type="button" class="btn btn-info navbar-btn" id="btn-new-order">New Order</button>
    </a>

</div>
<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/Chart.js"></script>
<script>
    $('.btn-go-back').on('click', function () {
        window.history.back();
    })

    var ctx = $("#myChart");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Profit", "Charity"],
            datasets: [{
                label: 'Profit in $',
                data: [1500, 456],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
</script>

</body>
</html>