<!doctype html>

<html>
<head>
	<title>CSE170 Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootsrap/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/retailer/home.css" rel="stylesheet">
	<link href="/css/retailer/verification.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FoodAid</a>
        </div>

        <!-- Collect the nav links,
        s, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/../support">Support</a></li>
                <li><a href="/../paymentinfo">Payment Information</a></li>
                <li><a href="/../settings">Settings</a></li>
                <li role="separator" class="divider"></li>
                <a href="/" class="btn btn-danger navbar-btn" id="btn-logout">Logout</a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <hr><h1> Choose an org for profit:</h1>
            <br>
             <div class="btn-group btn-group-vertical" data-toggle="buttons">
                 <label class="btn active">
                    <input type="checkbox" name='email1' checked><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span> Postmates</span>
                </label>
                <label class="btn">
                    <input type="checkbox" name='email2'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Uber Eats</span>
                </label>
                <label class="btn">
                    <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> GrubHub</span>
                </label>
                <label class="btn">
                     <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Door Dash</span>
                </label>
                <label class="btn">
                    <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Food-Aid Store</span>
                </label>
             </div>
        </div>
    </div>

   <div class="row">
        <div class="col-xs-12">
            <hr> <h1>And/or choose an org for donation:</h1>
            <br>
            <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <label class="btn active">
                    <input type="checkbox" name='email1' checked><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span> Lozarus House</span>
                </label>
                <label class="btn">
                    <input type="checkbox" name='email2'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Half-Way House</span>
                </label>
                <label class="btn">
                    <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Women's Center</span>
                </label>
                <label class="btn">
                    <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Food Bank</span>
                </label>
                <label class="btn">
                    <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Food-Aid Charity</span>
                </label>
            </div>
        </div>
        <br>
   </div>

    <div class = "row">
        <a href ="confirmation">
            <button type="button" class="btn btn-info btn-lg">Submit</button>
  		</a>

    </div>
    <br>
    <br>
    <div class="row">
        <a class="active" href="options">Options</a>
    </div>
    <div class="row">
        <a class="active" href="../../">Back</a>
    </div>
</div>


<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87196704-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
